@{
    ViewData["Title"] = "Order Complete";
}

<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h3>Orders Complete Sussfully</h3>
        <hr />
        <a asp-action="Index" asp-controller="Products" class="btn btn-outline-info">
            Go To Products
            <i class="fas f-regular fa-refresh"></i>
        </a>
    </div>
</div>